<div class="row">
  <form [formGroup]="routesForm" novalidate>
    <mat-card>
      <div class="row">
        <div class="col-3">
          <mat-form-field appearance="fill">
            <mat-label>Route ID</mat-label>
            <input matInput formControlName="routeId" [readonly]="true">
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field appearance="fill">
            <mat-label>Route Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field appearance="fill">
            <mat-label>Direction</mat-label>
            <mat-select formControlName="direction" (selectionChange)="setPolylineColor()">
              <mat-option value="UP">Up</mat-option>
              <mat-option value="DOWN">Down</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
              <mat-option value="Active">Active</mat-option>
              <mat-option value="Inactive">Inactive</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12" formArrayName="stops"
          *ngFor="let stop of routesForm.get('stops')['controls']; let i = index;">
          <div class="row" [formGroupName]="i">
            <div class="col-5">
              <mat-form-field appearance="fill">
                <mat-label>{{'Stop ID'}}</mat-label>
                <input matInput formControlName="stopId" [readonly]="true">
              </mat-form-field>
            </div>
            <div class="col-5">
              <mat-form-field appearance="fill">
                <mat-label>{{'Stop ' + i + ' Name'}}</mat-label>
                <input matInput formControlName="name">
              </mat-form-field>
            </div>
            <div class="col-2">
              <button mat-raised-button color="accent" (click)="removeStop(i)">Remove Stop</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 content-right">
          <button [disabled]="!routesForm.valid" mat-raised-button color="primary" (click)="saveRoute()">
            {{ id ? 'Save Changes' : 'Save Route'}}</button>
          <button *ngIf="id" mat-raised-button color="warn" (click)="deleteRoute()">Delete Route</button>
        </div>
      </div>
    </mat-card>
  </form>
  <div class="row">
    <div class="col-12 text-center">
      <h4>Click on map locations to add stops</h4>
    </div>
    <div class="col-12" id="map"></div>
  </div>
</div>
