.outer-border {
  border: 1px solid #b9b5b5;
}

.card-space {
  margin: 5px;
}

.text-right {
  text-align: right;
}

h4 {
  font-weight: 700;
}

#map {
  height: 500px;
}

.highlight {
  border: 1px solid #2a2828;
}