<div class="row">
  <div class="col-12 text-right">
    <div class="row">
      <div class="col-10"></div>
      <div class="col-2">
        <button *ngIf="selectedRouteIds.length" mat-raised-button (click)="deleteSelectedRoutes()" color="warn">Delete
          Routes</button>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-6">
      <mat-card class="card-space" (click)="selectedCardIndex = i" [ngClass]="{'highlight': selectedCardIndex === i}"
        *ngFor="let route of routesList;let i = index;">
        <div class="row">
          <div class="col-12 text-right">
            <mat-checkbox (click)="onRouteSelected(route)" color="primary">
            </mat-checkbox>
          </div>
        </div>
        <div class="row" (click)="updateRoute(route.stops, route.direction)">
          <div class="row">
            <div class="col-4">
              <h4>Route ID</h4>
            </div>
            <div class="col-3">
              <h4>Name</h4>
            </div>
            <div class="col-3">
              <h4>Direction </h4>
            </div>
            <div class="col-2">
              <h4>Status</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <p>{{ route.routeId }}</p>
            </div>
            <div class="col-3">
              <p>{{ route.name }} </p>
            </div>
            <div class="col-3">
              <p>{{ route.direction }} </p>
            </div>
            <div class="col-2">
              <p>{{ route.status }} </p>
            </div>
          </div>
          <div class="row">
            <div class="col-6" *ngFor="let stop of route.stops; let i = index">
              <p> {{ i + 1 }} : {{ 'Stop Id: ' + stop.stopId + ', ' + 'Stop Name: ' + stop.name }} </p>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-6">
      <div id="map"></div>
    </div>
  </div>
</div>
